{% extends "base.html" %}
{% load static %}
{% block 'dashboard' %}
<h1 class="my-4">Lista de Pacientes</h1>
<a href="{% url 'exportar_pacientes_pdf' %}" target="_blank" class="btn colorprimarybtn2 mb-3">Exportar PDF</a>
<a href="{% url 'criar_pacientes' %}" class="btn btn-primary mb-3">Adicionar Paciente</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td>{{paciente.id}}</td>
      <td>{{ paciente.nome }}</td>
      <td>{{ paciente.cpf }}</td>
      <td>
        <a href="{% url 'atualizar_paciente' paciente.id %}" class="btn btn-sm btn-warning">Editar</a>
        <!-- Botão para deletar com confirmação -->
        <form action="{% url 'deletar_paciente' paciente.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este paciente?');">Deletar</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">Nenhum paciente cadastrado.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
